@import 'react-notion-x/src/styles.css';

@import '../styles/prism.css';

:root {
  --notion-max-width: 768px;

  --notion-gray: hsl(220, 9%, 50%);
  --notion-red_background: hsl(0, 74%, 96%);
  --notion-pink_background: hsl(326, 49%, 96%);
  --notion-blue_background: hsl(198, 42%, 95%);
  --notion-purple_background: hsl(266, 35%, 95%);
  --notion-teal_background: hsl(169, 31%, 95%);
  --notion-yellow_background: hsl(45, 80%, 95%);
  --notion-orange_background: hsl(29, 74%, 95%);
  --notion-brown_background: hsl(20, 12%, 96%);
  --notion-gray_background: hsl(210, 5%, 98%);
}

.notion {
  font-family: 'Pretendard Variable', sans-serif;
  padding-left: 0;
  padding-right: 0;
  line-height: 1.75;
  font-weight: 300;
  @apply text-gray-800
}

.notion {
  font-size: 17px;
}

.notion-list {
  width: 100%;
}

.notion-h {
  margin-bottom: 10px;
}

h3 .notion-h-title {
  @apply text-2xl md:text-3xl
}

.notion-hr {
  border: 0.5px solid var(--fg-color-0);
}

.notion-quote {
  font-size: inherit;
}

.notion-inline-code {
  display: inline-block;
  padding: 0 0.4em;
  background: hsl(210, 13%, 95%);
}

.notion-red_background,
.notion-pink_background,
.notion-blue_background,
.notion-purple_background,
.notion-teal_background,
.notion-yellow_background,
.notion-orange_background,
.notion-brown_background,
.notion-gray_background {
  display: inline-block;
  height: auto;
  border-radius: 3px;
}

:where(
.notion-red_background,
.notion-pink_background,
.notion-blue_background,
.notion-purple_background,
.notion-teal_background,
.notion-yellow_background,
.notion-orange_background,
.notion-brown_background,
.notion-gray_background
) .notion-inline-code {
  background: transparent;
}


@media (max-width: 768px) {
  .notion {
    font-size: 1rem;
  }

  .notion-callout {
    padding: 16px 8px 16px 4px;
  }
  .notion-callout-text {
    width: 90%;
  }
  .notion-callout-text .notion-asset-wrapper img {
    width: 90%;
  }
  .notion-callout-text .notion-list {
    padding-inline-start: 0;
  }

  .notion-list .notion-list:has(div) {
    padding-left: 0;
  }
  .notion-list-disc {
    padding-inline-start: 1.4rem;
  }

}

