@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css');

@import 'react-notion-x/src/styles.css';
@import 'prismjs/themes/prism-tomorrow.css';
@import '../styles/notion.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Pretendard Variable', sans-serif;
  word-break: keep-all;
  word-wrap: break-word;
}

@layer components {
  .h1 {
    @apply text-2xl font-semibold md:text-[42px];
  }

  .h2 {
    @apply text-xl font-semibold md:text-[26px];
  }

  .post-tag {
    @apply py-2 px-4 flex-center rounded-full bg-gray-50 text-gray-700 text-sm md:text-base transform duration-150 hover:bg-blue-50 hover:text-blue-900;
  }

  .post-tag-container {
    @apply flex flex-wrap flex-center gap-2;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
