@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css');

@import '../styles/notion.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Pretendard Variable', sans-serif;
  word-break: keep-all;
  word-wrap: break-word;
  @apply text-gray-900
}

@layer components {
  .h1 {
    @apply text-2xl font-semibold md:text-[42px] mt-10 md:mt-16 mb-4 md:mb-10;
  }

  .h2 {
    @apply text-xl font-semibold md:text-[26px];
  }

  .max-container {
    @apply mx-auto px-4 md:px-6 lg:px-0 md:pb-20 w-full max-w-[56.25rem] lg:max-w-[1054px]
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
